body {
    background-color: #161945;
    font-family: Arial, sans-serif;
    margin: 5%;
    padding: 1%;
    font-family:noto-serif-uniquifier;
    
}


.section1 {
    margin: 0 auto;
    max-width: 800px;

    background-color: rgb(26, 14, 44);
    display: flex  ;
    flex-wrap: wrap;
}


.section2 {
    margin: 0 auto;
    max-width: 800px;

    background-color: rgb(26, 14, 44);
    display: flex;
    flex-wrap: wrap;
}



.section3 {
    margin: 0 auto;
    max-width: 800px;

    background-color:  yellow;
}


.section4 {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

.main_containter {

    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5%;

    background-color: rgb(14, 26, 26);
 

    
}
.boardered {
    border: 5px solid rgb(173, 182, 196);
    padding: 10px;
    margin: 10px;
}

.box1 {
    width: 200px;
    height: auto;
    background-color: #56597a;
    margin: 10px;
    padding: 20px;
    text-align: left;
  
    flex-grow: 10;
    display: flex;
    flex-wrap: wrap;
    

}

.box2 {
    width: 200px;
    height: 200px;
    background-color: #595d87;
    margin: 10px;
    padding: 20px;
    text-align: center;

    flex-grow: 1;
}   

.box3 {
    width: 200px;
    height: auto;
    background-color: #595d87;
    margin: 10px;
    padding: 20px;

    flex-grow: 1;
}

.box4 {
    width: 200px;
    height: auato;
    background-color: #595d87;
  
    text-align: start;
    
    flex-grow: 9;
}

.box5 {
    width: 200px;
    height: auto;
    background-color: #595d87;
    text-align: center;
   
    flex-grow: 1;
}

.box6 {
    height: 200px;
    background-color: #30a750;
 


}


.box7 {
    width: 200px;
    height: 200px;
    background-color: 595d87;
    margin: 10px;
    display: block ;

    
}


img {

   display: block;
   box-shadow: 2px 2px #100d25
}


tr > td {
   text-emphasis: bold;

}

tr td:first-child {
    font-weight: bold;
}

p:first-word{font-weight:bold;}



@media screen and (max-width: 600px) {
    .main_containter {
        flex-direction: column;
    }

    .box6 {
       display: none;
    }
    .box7 {
        display: inline;
    }

    img {
       display: none;
    }

}



.montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:  400;
  font-style: bold;
}

.noto-serif-uniquifier {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }